html, body, div, span, applet, object, iframe, table, caption, 
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, 
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend { 
    vertical-align: baseline; 
    font-family: inherit; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    outline: 0; 
    padding: 0; 
    margin: 0; 
    border: 0; 
    font-family: '微软雅黑';
}
input{
    margin:0px;
    padding:0px;
}

:focus { 
    outline: 0; 
} 

body { 
    background: white; 
    line-height: 1; 
    color: black; 

} 
ol, ul { 
    list-style: none; 
} 
table { 
    border-collapse: separate; 
    border-spacing: 0; 
} 
caption, th, td { 
    font-weight: normal; 
    text-align: left; 
} 
blockquote:before, blockquote:after, q:before, q:after { 
    content: “”; 
} 
blockquote, q { 
    quotes: “” “”; 
}
.alert_bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 10000;
    position: fixed;
    top: 0px;
    transition:1s;
}
.clear{
    clear:both;
}
.float-left{
    float: left;
}
.float-right{
    float:right;
}
.hidden{
    display:none!important;
}
.over{
    overflow: hidden;
}
/*弹框样式*/
#fixed_alert{
    position: fixed;
    top:0px;
    background:rgba(0,0,0,0.8);
    height:1140px;
    width:640px;
}
.index_confirm{
    margin-top:300px;
}
.index_confirm{
    width:438px;
    height:246px;
    background:url("index_confirm_bg.png")/*tpa=https://static.cdn.topeffects.cn/images/index_confirm_bg.png*/;
    position:absolute;
    left:100px;
    /*border:1px solid #d9e6ca;*/
    z-index: 100;
    border-radius:8px;
    top:62px;
}
.index_confirm_content{
    height:120px;
    font-size:1.7rem;
    color:#3e1904;
    line-height: 32px;
    padding:40px 40px;
    text-indent: 2em;

}
.index_confirm_content_con{
    height:46px;
    text-align: center;
    font-size:2.05rem;
    color:#ffffff;
    background-color: #a3d184;
    line-height: 46px;
    letter-spacing: 16px;
}
.index_confirm_content_span{
    font-size:2.05rem;
    color:#ca56c6;
}
.index_confirm_content_con{
    position:absolute;
    bottom:0px;
    width:438px;
    border-radius: 0px 0px 7px 7px;
}
/***********当没有数据时显示的内容***************/
.nocontent img{
    margin:30px auto;
    display: block;
}
.nocontent>div{
    text-align: center;
    font-size:2rem;
    color:#749a06;
}
.nocontent .go_add{
    border:1px solid #8a8a8a;
    border-radius: 5px;
    padding:8px;
    font-size:2rem;
    display: block;
    margin:0px auto;
    margin-top:20px;
    width:120px;
    color:#4e4e4e;
}
/***********管理按钮***************/
.manage_btn_main {
    position: fixed;
    bottom: 100px;
    left: 35px;
}
.btn_list li {
    background: #fea813;
    border-radius: 24px;
    width: 180px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 48px;
}
.btn_list li>div {
    float: left;
    font-size: 2rem;
    color: #4c4c4c;
    line-height: 48px;
    text-align: center;
}
.btn_list li .btn_li_title {
    padding: 0px 15px;
    /*border-right: 1px solid #4c4c4c;*/
    height: 2rem;
    line-height: 2rem;
    margin-top: 12px;
}
.btn_li_option {
    padding: 0px 15px;
}
.btn_li_select img {
    float: left;
    margin-top: 22px;
}
.manage_li_img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: #fff url("user_manage.png")/*tpa=https://static.cdn.topeffects.cn/images/user_manage.png*/ no-repeat center center;
    box-shadow: 0px 0px 3px #ffa913;
}
.manage_li_content_img {
    background: #fff url("content_manage.png")/*tpa=https://static.cdn.topeffects.cn/images/content_manage.png*/ no-repeat center center;
}
/************** 脚部 ***************/
.def_footer{
    position:fixed;
    bottom:0px;
    border-top:2px solid #e2e5e0;
    background-color: #f7f7f8;
}
.def_footer>div{
    width:160px;
    float:left;
    height:84px;
}
.def_footer_img{
    width:46px;
    margin:0px auto;
    margin-top:7px;
    margin-bottom: 3px;
}
.def_footer_text{
    color:#4c4c4c;
    font-size:1.88rem;
    text-align: center;

}
.selectedtext{
    color:#749a06;
}