<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>有米借-即刻申请享低息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="__PUBLIC__/daikuan/css/app-09b7fb7fbf.css">
    <link rel="stylesheet" href="__PUBLIC__/daikuan/css/popup.css">
</head>
<script type="text/javascript"></script>
<script>
	history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
</script>
<body id="loan1020" style="display: none">
    <div class="bodyModel">
        <div class="big_controler ct_1" id="ct_1" style="padding-top: 55%;">
            <div class="ct_1_main_1">
                <div class="ct_1_main_1_tit">申请贷款</div>
                <form action="{:U('/Home/Index/index_submit')}" method="post">
                <ul class="info_save">
                    <input type="hidden" name="submit" value="index">
                    <li class="info_li">
                        <p>姓名</p>
                        <input type="text" placeholder="请输入姓名" name="name"/>
                    </li>
                    <input type="hidden" value="{$home['CHANNEL_MAP_ID']}" name="channel_map_id"/>
                    <if condition="$home['CHANNEL_MAP_ID'] eq 10001">
                        <li class="info_li">
                            <p>出生年月</p>
                            <input type="date" value="" name="birth" id="birth"/>
                        </li>
                    <else/>
                        <li class="info_li">
                            <p>身份证号</p>
                            <!-- <input type="date" value="1985-01-01" name="birth" id="birth"/> -->
                            <input type='text' name="idCard" placeholder='您的信息将被严格保密' maxlength="18"/>
                        </li>
                    </if>
                    <li class="info_li">
                        <p>贷款金额</p>
                        <select onfocus="(this.style.color = '#333')" name="loanAomunt">
                            <option value="" disabled selected style='display:none;color:#999'>请选择贷款金额</option>
                            <!--<option value="ZERO_ONE_YUAN">1万以下</option>-->
                            <option value="1">3万以下</option>
                            <option value="2">3-5万</option>
                            <option value="3">5-10万</option>
                            <option value="4">10-20万</option>
                            <option value="5">20万以上</option>
                        </select>
                    </li>
                    <li class="info_li">
                        <p>手机</p>
                        <input type="tel" maxLength="11" placeholder="请输入手机号" name="mobile" onfocus="$('#captcha').show()"/>
                    </li>
                    <li class="info_li">
                        <p>验证码</p>
                        <input type="tel" maxLength="6" placeholder="请输入验证码" name="captcha"/>
                        <e class="sendCode" onclick="getCaptcha(this,{'color':'#c0a062', 'background' : 'none'})">获取验证码</e>
                    </li>
                    <li class="info_checkbox check" style="padding: 10px 0;">
                        <!--<i>*</i>真实填写贷款本人信息，有助于你成功预约<br/>-->
                        <label onclick="check(this)"><span></span><input type="checkbox" name="isAgree" checked="checked">我已阅读并接受</label><e onclick="show('user_protocol')">用户协议</e>
                        <br/><label onclick="check(this)"><span></span><input type="checkbox" name="isInsurance" checked="checked">申请有礼: 赠送最高100万保额出行意外险</label>
                        <!-- <e onclick="show('insurace_detail')">出行意外险</e> -->
                    </li>
                    <li class="info_btn">
                        <input type="submit"  class="save_module_1" value="提交申请"/>
                    </li>
                </ul>
            </form>
            </div>
        </div>
        <div class="foot">
            <div class="foot_s">
                <div class="tit">我们的优势<p></p></div>
                <ul>
                    <li>
                        <img src="__PUBLIC__/daikuan/images/loan1020/icon_1.jpg">
                        <p>
                            <span>信用好</span>
                            三大金融品牌
                        </p>
                    </li>
                    <li>
                        <img src="__PUBLIC__/daikuan/images/loan1020/icon_2.jpg">
                        <p>
                            <span>到账快</span>
                            到账快至1天
                        </p>
                    </li>
                    <li>
                        <img src="__PUBLIC__/daikuan/images/loan1020/icon_3.jpg">
                        <p>
                            <span>门槛低</span>
                            无抵押无担保
                        </p>
                    </li>
                    <li>
                        <img src="__PUBLIC__/daikuan/images/loan1020/icon_4.jpg">
                        <p>
                            <span>额度高</span>
                            最高可贷20万
                        </p>
                    </li>
                </ul>
            </div>
            <div class="foot_s_2">
                <div class="tit">合作机构<p></p></div>
                <img src="__PUBLIC__/daikuan/images/loan0824/foot.png" style="width:100%">
            </div>
        </div>
        <div class="copyright" disabled="none" style="color:#c0a062">
            <p>
                 ©沪ICP备18002406号-1
            </p>
            <p>投资有风险，入市需谨慎</p>
        </div>
        <div id="insurace_detail">
            <img src="__PUBLIC__/daikuan/images/loan0801/close.png" class="close" onclick="popup.closeAll()">
            <div class="insurace_detail">
                <p>【投保须知】</p>
                1）投保规定：本保险身故受益人为法定受益人。本保险的保险对象为25-50周岁身体健康、能正常工作或正常生活的自然人。
                <br/>2）保险限制：每一客户受赠保险以1份为限；本赠险产品仅限被保人本人领取。
                <br/>3）保险期限：本保险的保障期限为6个月，以被保险人收到短信通知上的保险起止日期为准。对保险起至日期之外所发生的保险事故本公司不负给付保险金责任。
                <br/>4）告知义务：依据我国《保险法》的规定，投保人、被保险人应如实告知，否则保险人有权依法解除保险合同，并对于保险合同解除前发生的保险事故不负任何责任。投保人、被保险人在投保时，应对投保书内各项内容如实详细地说明或填写清楚。否则，保险人有权依法解除保险合同。
                <br/>5）保险凭证：本产品仅提供电子保单。仅限赠送。保单经审核生效后客户会自动收到短信通知，请将短信保存并将短信上的电子保单号记录在适当的位置，以方便查询及理赔。您也可以通过拨打电话：95511或登陆http://www.pingan.com/property_insurance/pa18AutoInquiry/ 查询您的保单信息。
                <br/>6）本保险不接受撤保、退保、加保及被保险人更换。
                <br/>7）保险金申请：发生保险事故后，请被保险人或受益人及时凭电子保险单号及身份信息向保险公司报案，并提供相关证明和资料，保险公司将尽快按照有关条款履行给付责任。
                <p>【重要告知与声明】</p>
                本人同意中国平安人寿保险股份有限公司/（太平人寿）作为投保人为我本人投保本产品。
                <br/>本人授权保险公司，除法律另有规定之外，将本人提供给保险公司的信息、享受保险公司服务产生的信息（包括本【单证】签署之前提供和产生的信息）以及保险公司根据本条约定查询、收集的信息，用于保险公司及其因服务必要委托的合作伙伴为本人提供服务、推荐产品、开展市场调查与信息数据分析。本人授权保险公司，除法律另有规定之外，基于为本人提供更优质服务和产品的目的，向保险公司因服务必要开展合作的伙伴提供、查询、收集本人的信息。为确保本人信息的安全，保险公司及其合作伙伴对上述信息负有保密义务，并采取各种措施保证信息安全。 本条款自本【单证】签署时生效，具有独立法律效力，不受合同成立与否及效力状态变化的影响。本条所称“保险公司”是指中国平安保险（集团）股份有限公司/（中国人寿）及其直接或间接控股的公司，以及中国平安保险（集团）股份有限公司/（中国人寿）直接或间接作为其单一最大股东的公司。
                <p>【保险详情】</p>
                <table>
                    <tr>
                        <td style="width:12px;">1.</td>
                        <td style="width:75px;">保险公司：</td>
                        <td>华夏保险</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保险名称：</td>
                        <td>华夏自由行公共交通意外伤害保险</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保障内容：</td>
                        <td>
                            公共汽车/出租车(保障额度:3万)
                            <br/>地铁/火车/轻轨/轮船(保障额度:5万)
                            <br/>飞机(保障额度:20万)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保障时长：</td>
                        <td>3个月</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>最高保额：</td>
                        <td>20万元</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>保险公司：</td>
                        <td>泰康保险</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保险名称：</td>
                        <td>铁定保</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保障内容：</td>
                        <td>
                            火车
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保障时长：</td>
                        <td>1年</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>最高保额：</td>
                        <td>50万元</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>保险公司：</td>
                        <td>中英人寿</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保险名称：</td>
                        <td>交通意外伤害保险C款</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保障内容：</td>
                        <td>
                            飞机/轨道交通
                            <br/>/汽车/
                            <br/>非营运
                            <br/>汽车
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保障时长：</td>
                        <td>90天</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>最高保额：</td>
                        <td>20万元</td>
                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>保险公司：</td>
                        <td>中国平安</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保险名称：</td>
                        <td>畅行天下升级险 <a href='__PUBLIC__/daikuan/lib/clause/changxing.pdf' style='color:#db0606;text-decoration: underline;font-size:12px;'>查看详情</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保障内容：</td>
                        <td>
                            飞机/轨道交通/
                            <br/>商业运营汽车
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>保障时长：</td>
                        <td>180天</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>最高保额：</td>
                        <td>100万</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="user_protocol">
            <img src="__PUBLIC__/daikuan/images/loan0801/close.png" class="close" onclick="popup.closeAll()">
            <div class="user_protocol">
                <p>用户协议</p>
                有米借由魁锦（上海）信息技术有限公司及其关联实体(以下简称“我们”、“本公司”或“有米借”)运营，我们依照以下用户协议向您提供本用户协议涉及的相关服务。请您使用有米借服务前仔细阅读本用户协议。 您只有完全同意所有用户协议，才能成为有米借的用户并获得相应的服务。您在使用有米借服务过程中勾选同意"用户协议"按钮即表示您已仔细阅读并明确同意遵守本用户协议以及经参引而并入其中的所有条款、政策以及指南，并受该等规则的约束（合称"本用户协议"）。
                <p>一、总则</p>
                1、为了保护网络信息安全，保障公民、法人和其他组织的合法权益，维护国家安全和社会公共利益，根据国家相关法律和全国人大常委会的相关规定，有米借制定并按照本协议提供网络服务。用户应当充分阅读并同意本协议的全部条款并按照页面上的提示完成全部的注册程序（未成年人应与法定监护人共同完成）。用户在注册过程中勾选“同意”按钮即表示用户完全接受本协议项下的全部条款，用户选择访问或使用有米借有关服务，将视为同意接受本协议全部条款的约束。 
                <br/>2、除非另有明确规定，有米借所推出的新产品、新功能和新服务，均无条件的适用本协议。 
                <br/>3、有米借保留在任何时候修改本协议条款的权利，且无需另行通知。用户在使用服务时应关注并遵守。 
                <br/>4、用户在使用有米借提供的各项服务之前，应仔细阅读本协议。如果您不同意本协议或有米借的修改，可以主动取消有米借提供的服务；如果您继续使用有米借服务，则视为您已经接受本协议全部内容，包括有米借对本协议所做的任何修改。 
                <br/>5、用户无论通过何种方式使用有米借服务，均受本协议约束。
                <p>二、服务提供及隐私保护 </p>
                1、有米借上的内容，包括但不限于信贷、网贷、众筹、信用卡、保险、基金、股权、理财等金融产品，以及文章、图片、评论等信息均由用户在线提交或者用户（包括第三方机构）授权有米借工作人员提交发布，相关用户依法应对其提供的任何信息承担全部责任，有米借对此等信息的准确性、完整性、合法性或真实性均不承担任何责任。此外，有米借对其他用户任何使用或提供本网站信息的商业活动及其风险不承担任何责任。 
                <br/>2、有米借会根据实际情况随时调整提供的服务种类、形式。有米借不承担因业务调整给用户造成的损失。有米借保留变更、中断或终止部分网络服务的权利。 
                <br/>3、您在访问、使用有米借或申请使用有米借服务时，必须提供本人真实的个人信息，且您应该根据实际变动情况及时更新个人信息。保护用户隐私是我们的重点原则，我们通过各种技术手段和强化内部管理等办法提供隐私保护服务功能，充分保护您的个人信息安全。 
                <br/>4、有米借不负责审核您提供的个人信息的真实性、准确性或完整性，因信息不真实、不准确或不完整而引起的任何问题及其后果，由您自行承担，且您应保证有米借免受由此而产生的任何损害或责任。若我们发现您提供的个人信息是虚假、不准确或不完整的，我们有权自行决定终止向您提供服务。 
                <br/>5、为申请获得有米借服务，您应向我们提供您的个人信息，为向您提供服务之目的，我们须向第三方透露您的个人信息。您特此向我们授权，为提供服务之目的，我们有权使用您的个人信息、您申请服务时提供相关信息和您在使用服务时储存在有米借的非公开内容（以下简称“个人资料”）。具体方式包含但不限于：
                将用户所提供的个人资料进行适当的处理汇总，并根据实际业务需要向本公司的合作方提供依据。用户同意有米借不定期地通过注册会员留下的电子邮件、手机短信或通讯地址同该用户保持联系（包括但不限于接受有米借通过电子邮件或其他方式向用户发送商品促销或其他相关商业信息）。为完成有米借为用户所提供的服务将用户向有米借提供的个人资料（包括但不限于姓名、出生年月日、身份证号码、电话及通信地址等信息）和其它信息（包括但不限于个人信用、投资及保险等信息），授权有米借及其关联公司向征信机构或其他第三方核实其本人资信情况；同时将用户个人资料及其本人的信用资料及其他记录提供给征信机构或经本公司许可并授权的其他第三方。 最后，我们保证在除为提供服务之目的外，不对外公开或向第三方提供您的个人资料，但下列情况除外： 
                <br>（1）事先获得您的明确授权。 
                <br>（2）按照相关司法机构或政府主管部门的要求。 
                <br>（3）以维护有米借合法权益之目的。 
                <br>（4）维护社会公众利益。 
                <br>（5）为了配合政府或法律的合法要求、传票或指令，为了保护有米借的系统和用户，或者为了确保有米借业务和系统的完整与操作，我们可获取和披露其认为必要或恰当的任何信息，包括但不限于用户的个人信息、IP地址和流量信息、使用历史以及发布内容。 
                <br>（6）符合其他合法要求。
                <p>三、使用规则</p>
                1、用户对以其账号发生的或通过其账号发生的一切活动和事件（包括但不限于用户发表的任何内容以及由此产生的任何结果）负全部法律责任。 
                <br/>2、用户在使用有米借服务过程中，必须遵循国家的相关法律法规，不通过有米借发布、复制、上传、散播、分发、存储、创建或以其它方式公开含有以下内容的信息： 
                <br/>（1）反对宪法所确定的基本原则的。
                <br/>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的。
                <br/>（3）损害国家荣誉和利益的。
                <br/>（4）煽动民族仇恨、民族歧视，破坏民族团结的。
                <br/>（5）破坏国家宗教政策，宣扬邪教和封建迷信的。
                <br/>（6）散布谣言，扰乱社会秩序，破坏社会稳定的。
                <br/>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的、欺诈性的或以其它令人反感的讯息、数据、信息、文本、音乐、声音、照片、图形、代码或其它材料。
                <br/>（8）侮辱或者诽谤他人，侵害他人合法权益的。
                <br/>（9）其他违反宪法和法律、行政法规或规章制度的。
                <br/>（10）可能侵犯他人的专利、商标、商业秘密、版权或其它知识产权或专有权利的内容。
                <br/>（11）假冒任何人或实体或以其它方式歪曲您与任何人或实体之关联性的内容。
                <br/>（12）未经请求而擅自提供的促销信息、政治活动、广告或意见征集。
                <br/>（13）任何第三方的私人信息，包括但不限于地址、电话号码、电子邮件地址、身份证号以及信用卡卡号。
                <br/>（14）病毒、不可靠数据或其它有害的、破坏性的或危害性的文件。
                <br/>（15）与内容所在的互动区域的话题不相关的内容。
                <br/>（16）依我们的自行判断，足以令人反感的内容，或者限制或妨碍他人使用或享受互动区域或有米借的内容，或者可能使我们或我们关联方或其他用户遭致任何类型损害或责任的内容。
                <br/>（17）包含法律或行政法规禁止内容的其他内容。
                <br/>3、用户不得利用有米借的服务从事下列危害计算机信息网络安全的活动： 
                <br/>（1）未经允许，进入计算机信息网络或者使用计算机信息网络资源。
                <br/>（2）未经允许，对计算机信息网络功能进行删除、修改或者增加。
                <br/>（3）未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加。
                <br/>（4）故意制作、传播计算机病毒等破坏性程序。
                <br/>（5）其他危害计算机信息网络安全的行为。
                <br/>4、我们保留在任何时候为任何理由而不经通知地过滤、移除、筛查或编辑本网站上发布或存储的任何内容的权利，您须自行负责备份和替换在本网站发布或存储的任何内容，成本和费用自理。 
                <br/>5、用户须对自己在使用有米借服务过程中的行为承担法律责任。若您为限制行为能力或无行为能力者，则您的法定监护人应承担相应的法律责任。 
                <br/>6、如您的操作影响系统总体稳定性或完整性，我们将暂停或终止您的操作，直到相关问题得到解决。 
                <br/>7、用户为使用有米借服务，须自行配备进入国际互联网所必需的设备，包括电脑、手机及其他与接入互联网或移动网有关的装 置，并自行支付与此服务有关的费用。 
                <br/>8、用户同意有米借有权在提供网络服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息。
                <p>四、知识产权及其他权利</p>
                1、有米借服务中包含的任何文字、图表、音频、视频和/或软件（包括但不限于软件中包含的图表、动画、音频、视频、界面实际、数据和程序、代码、文档）等信息或材料均受著作权法、商标法和/或其它保险法的保护，未经相关权利人书面同意，用户不得以任何方式使用该等信息或材料，但出于使用有米借服务目的而使用的除外。
                <br/>2、本协议未授予用户使用有米借任何商标、服务标记、标识、域名和其他显著品牌特征的权利。
                <br/>3、除本协议明确允许的以外，用户不得以任何形式或任何方式对有米借服务部分或全部内容进行修改、出租、租赁、出借、出售、分发、复制、创作衍生品或用于任何商业用途。
                <br/>4、用户在有米借上发布的信息不得侵犯任何第三人的知识产权，未经相关权利人之事先书面同意，用户不得以任何方式上传、发布、修改、传播或复制任何受著作权保护的材料、商标或属于其他人的专有信息。
                <br/>5、用户同意，对于其上传到本网站的任何内容，有米借在全世界范围内不限形式和载体地享有永久的、不可撤销的、免费的、非独家的使用权和转授权的权利，包括但不限于修改、复制、发行、展览、改编、汇编、出版、翻译、信息网络传播、广播、表演和再创作及著作权法等保险法确定的其他权利，用户特别授权有米借以自己名义单独对第三方的侵权行为提起诉讼并获得全额赔偿。有米借无须为此向用户给予任何报酬或承担任何义务，也无须另行通知。
                <br/>6、您在有米借公开发布或传播的内容、图片等为非保密信息，我们没有义务将此等信息作为您的保密信息对待。在不限制前述规定的前提下，我们保留以适当的方式使用内容的权利，包括但不限于删除、编辑、更改、不予采纳或拒绝发布。我们无义务就您提交的内容而向您付款。一旦内容已在有米借发布，我们也不保证向您提供对在有米借发布内容进行编辑、删除或作其它修改的机会。
                <br/>7、如有权利人发现您在有米借发表的内容侵犯其权利，并依相关法律、行政法规的规定向我们发出书面通知的，有米借有权在不事先通知您的情况下自行移除相关内容，并依法保留相关数据。您同意不因该种移除行为向我们主张任何赔偿，如我们因此遭受任何损失，您应向赔偿我们的损失（包括但不限于赔偿各种费用及律师费）。
                <br/>8、若您认为您发布第7条指向内容并未侵犯其他方的权利，您可以向我们以书面方式说明被移除内容不侵犯其他方权利的书面通知，该书面通知应包含如下内容：您详细的身份证明、住址、联系方式、您认为被移除内容不侵犯其他方权利的证明、被移除内容在有米借上的位置以及书面通知内容的真实性声明。我们收到该书面通知后，有权决定是否恢复被移除内容。
                <br/>9、您特此同意，如果8条中的书面通知的陈述失实，您将承担由此造成的全部法律责任，如我们因此遭受任何损失，您应向赔偿我们的损失（包括但不限于赔偿各种费用及律师费）。
                <br/>10、若您认为您的知识产权或其他合法权益被侵犯，请向有米借提供以下资料：
                <br/>（1）对涉嫌侵权内容拥有知识产权或其他合法权益的权属证明。
                <br/>（2）权利人具体的主体资质和联络信息，包括个人的姓名、身份证或护照复印件、单位的营业执照复印件或者其他资质证明复印件、通信地址及电话号码等。
                <br/>（3）涉嫌侵权内容在本网站上的位置。
                <br/>（4）对侵权情况的详细描述。
                <br/>（5）在权利通知中加入如下关于通知内容真实性的声明：“由以上操作所引起的一切后果，与有米借无关，由我本人/公司承担。”
                <br/>11、有米借在收到权利人的通知书后，可依其合理判断，删除该等侵犯他人知识产权或其他合法权益的内容。
                <p>五、免责声明</p>
                1、鉴于网络服务的特殊性，有米借不保证网络服务的及时性、安全性和准确性，用户同意有米借有权不经事先通知，随时变更、中断或终止部分或全部的网络服务而无论同意与否，有米借对用户和任何第三人均无需承担任何责任。
                <br/>2、本网站所收集的部分公开资料来源于互联网，转载的目的在于传递更多信息及用于网络分享，并不代表本站赞同其观点和对其真实性负责，也不构成任何其他建议。本站部分作品是由网友自主投稿和发布、编辑整理上传，对此类作品本站仅提供交流平台，不为其版权负责。如果您发现网站上有侵犯您的知识产权的作品，请与我们取得联系，我们会及时修改或删除。
                <br/>3、本网站所提供的信息，只供参考之用。本网站不保证信息的准确性、有效性、及时性和完整性。本网站及其雇员一概毋须以任何方式就任何信息传递或传送的失误、不准确或错误，对用户或任何其他人士负任何直接或间接责任。在法律允许的范围内，本网站在此声明，不承担用户或任何人士就使用或未能使用本网站所提供的信息或任何链接所引致的任何直接、间接、附带、从属、特殊、惩罚性或惩戒性的损害赔偿。
                <br/>4、对于经由有米借服务而传送的内容，有米借不保证前述内容的正确性、完整性或品质。用户在接受有关服务时，有可能会接触到令人不快、不适当或令人厌恶的内容。在任何情况下，有米借均不对任何内容负责，包括但不限于任何内容发生任何错误或纰漏以及衍生的任何损失或损害。有米借有权（但无义务）自行拒绝或删除经由本服务提供的任何内容。用户使用上述内容，应自行承担风险。
                <br/>5、用户可通过有米借有关网络服务获得第三方的某些内容，或者有米借可能为方便用户而提供通往第三方网站的链接，但有米借不负责检查或评估任何该等第三方材料、产品、服务或网站内容的准确性，并且，有米借对此不作保证、不承担任何责任、也不负有任何义务。用户对此自行加以判断，并承担因使用该等内容而引起的所有风险，包括但不限于因对内容的正确性、完整性 或实用性的依赖而产生的风险。
                <br/>6、用户经由有米借服务与广告商进行通讯联系或商业往来或参与促销活动，完全属于用户与广告商之间的行为，与有米借没有任何关系，若因商业行为所产生之任何损害或损失，有米借不承担任何责任。
                <br/>7、用户明确同意其使用有米借服务所存在的风险及其后果将完全由其自己承担，有米借对用户不承担任何责任。如因用户违反有关法律、法规或本协议项下的任何条款而给有米借或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。
                <br/>8、有米借是一个开放平台，用户将文章或照片等个人资料上传到互联网上，有可能会被其他组织或个人复制、转载、擅改或做其它非法用途，用户必须充分意识此类风险的存在。作为网络服的提供者，我们对用户在任何论坛、个人主页或其它互动区域提供的任何陈述、声明或内容均不承担责任。您明确同意使用有米借服务所存在的风险或产生的一切后果将完全由您自身承担，我们对上述风险或后果不承担任何责任。
                <br/>9、您违反本服务条款、违反道德或法律的，侵犯他人权利（包括但不限于知识产权）的，我们不承担任何责任。同时，我们对任何第三方通过有米借发送服务或包含在服务中的任何内容不承担责任。
                <br/>10、对任何第三方通过有米借可能对您造成的任何错误、中伤、诽谤、诬蔑、不作为、谬误、淫秽、色情或亵渎，我们不承担责任。
                <br/>11、对黑客行为、计算机病毒、或因您保管疏忽致使账号、密码被他人非法使用、盗用、篡改的或丢失，或由于与本网站链接的其它网站所造成您个人资料的泄露，我们不承担责任。如您发现任何非法使用用户账号或安全漏洞的情况，请立即与我们联系。
                <br/>12、我们不保证服务一定能满足您的要求；不保证服务不会中断，也不保证服务的及时性、安全性、准确性。
                <br/>13、任何情况下，因使用有米借而引起或与使用有米借有关的而产生的由我们负担的责任总额，无论是基于合同、保证、侵权、产品责任、严格责任或其它理论，均不得超过您因访问或使用本网站而向有米借支付的任何报酬（如果有的话）。
                <p>六、服务变更、中断或终止</p>
                1、如因升级的需要而需暂停网络服务、或调整服务内容，我们将尽可能在网站上进行通告。由于用户未能及时浏览通告而造成的损失，我们不承担任何责任。
                <br/>2、您明确同意，我们保留根据实际情况随时调整有米借提供的服务内容、种类和形式，或自行决定授权第三方向您提供原本我们提供的服务。因业务调整给您或其他用户造成的损失，我们不承担任何责任。同时，我们保留随时变更、中断或终止有米借全部或部分服务的权利。
                <br/>3、发生下列任何一种情形，我们有权单方面中断或终止向您提供服务而无需通知您，且无需对您或第三方承担任何责任：
                <br/>（1）您提供的个人资料不真实。
                <br/>（2）您违反本服务条款。
                <br/>（3）未经我们书面同意，将有米借用于商业目的。
                <br/>4、您可随时通知我们终止向您提供服务或直接取消有米借服务。自您终止或取消服务之日起，我们不再向您承担任何形式的责任。
                <p>七、信贷员公约</p>
                1、任何与有米借有意向签订协议或者已经达成合作协议的机构和渠道商，必须认真阅读本协议，并保持、接受和遵守本协议对自身权利和义务的约定。所有向有米借提交合作申请的信贷经理都视同已充分阅读理解并同意本协议的所有约定。
                <br/>2、有米借接受信贷机构或信贷员委托，按照信贷机构或信贷员提供的借款条件，受理借款申请人的借款申请，审核筛选，促成信贷机构或信贷员与客户之间的联系。
                <br/>3、信贷机构或信贷员身份必须真实有效，应向有米借明确信贷机构或信贷员所提供的贷款产品（以下简称"产品"）及所接受的借款申请人的条件，并且符合信贷机构或信贷员所在机构的官方描述，如有不符，有米借有权依据信贷机构或信贷员所在机构的官方描述进行修改。
                <br/>4、有米借根据信贷机构或信贷员提供的申请条件，建立筛选机制，向信贷机构或信贷员推荐借款申请人。
                <br/>5、有米借应不断完善搜索机制，提高推荐的借款申请人的准确性。
                <br/>6、有米借向信贷机构或信贷员提供的借款申请人资料完全基于借款申请人自愿填写，有米借不对借款申请人资料的真实性负责，亦不会参与及影响信贷机构或信贷员的审批工作。
                <br/>7、信贷机构或信贷员在收到借款人的申请资料后及时与借款申请人取得联系，确保服务质量。
                <br/>8、信贷机构或信贷员提供的信息必须是真实的，且其披露该等信息已获得完全的授权，不侵犯任何其他第三方权益。否则，产生的后果由其自行承担。
                <br/>9、信贷机构或信贷员理解，为申请获得有米借服务，您应向我们提供您的个人信息和贷款信息，为向您提供服务之目的，我们须向第三方透露您的个人信息和贷款信息。您特此向我们授权，我们有权使用您的个人信息、贷款信息、您申请服务时提供的任何相关信息和您在使用服务时储存在有米借的公开及非公开内容。
                <br/>10、信贷经理保证其所属机构授权具备从事贷款业务的资质。
                <br/>11、信贷经理保证在为借款申请人提供服务的过程中，不应收取除其所属机构明确公示以外的任何其他费用，同时信贷经理理解并认可有米借充值、退费规则。
                <br/>12、信贷经理理解并认可，有米借对信贷经理及其所属机构与借款申请人之间产生的争议无关，对此亦不承担任何责任。
                <p>八、特别约定</p>
                1、您使用有米借服务的行为若有任何违反国家法律法规或侵犯任何第三方的合法权益的情形时，我们有权直接删除该等违反规定之信息，并可以暂停或终止向您提供服务。
                <br/>2、若您利用有米借服务从事任何违法或侵权行为，由您自行承担全部责任，因此给我们或任何第三方造成任何损失，您应负责全额赔偿，并使我们免受由此产生的任何损害。
                <br/>3、您同意我们通过重要页面的公告、通告、电子邮件以及常规信件的形式向您传送与有米借服务有关的任何通知和通告。
                <br/>4、本服务条款之效力、解释、执行均适用中华人民共和国法律。
                <br/>5、如就本协议内容或其执行发生任何争议，应尽量友好协商解决；协商不成时，任何一方均可向长沙市岳麓区人民法院提起诉讼。
                <br/>6、本服务条款中的标题仅为方便而设，不影响对于条款本身的解释。本服务条款最终解释权归有米借所有。
                <br/>7、如本协议中的任何条款完全或部分无效，本协议的其余条款仍有效并且有约束力。
                <br><h2>除非另行通知，本服务协议自  2018 年 01月01日起生效。 </h2>
                <br><h1 style="color:red">本协议任何条款最终解释权归魁锦（上海）信息技术有限公司所有。</h1>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/daikuan/js/lib-f7f4977d09.js"></script>
    <script src="__PUBLIC__/daikuan/js/jquery-popup.js"></script>
    <script src="__PUBLIC__/daikuan/js/app-f5a8060710.js"></script>
    <script src="__PUBLIC__/daikuan/js/indexController-dfaccaf046.js"></script>
</body>
</html>