<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>有米借-即刻申请享低息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="__PUBLIC__/daikuan/css/app-09b7fb7fbf.css">
    <link rel="stylesheet" href="__PUBLIC__/daikuan/css/popup.css">
    <!-- <script type="text/javascript" src="https://www.newtank.cn/newtank/act/base/js/trackEvent.min.js?599aa83ee4b06df7265de4f7"></script> -->
    <style type="text/css">
        .ct_1 .ct_2_btn .button{width:100%;text-align:center;height:46px;line-height:46px;background:#ff6233;font-size:15px;font-weight:700;letter-spacing:1px;position:fixed;bottom:0;left:0;color:#fff}
    </style>
    <script>
    </script>
</head>
<body id="loan1020">
    <div class="bodyModel">
        <form action="{:U('/Home/Index/success')}" method="post" name="reg_testdate">
            <div class="big_controler ct_1" style="background: #fff;float: left;padding-bottom: 80px;">
                <div class="ct_2_tit">
                    <p>完善资料</p>
                    完善个人信息, 为您推荐更合适的金融产品.
                </div>
                <ul class="ct_2_select">
                    <input type="hidden" name="daikuan_id" value="{$daikuan_id}">
                    <input type="hidden" name="baoxian_id" value="{$baoxian_id}">
                    <li class="tit">
                        月收入
                    </li>
                    <li class="option">
                        <label class="label_false">
                            <input type="radio" value="1" name="monthlySalary">
                            5000元以下
                        </label>
                        <label class="label_false">
                            <input type="radio" value="2" name="monthlySalary">
                            5000-10000元
                        </label>
                        <label class="label_false">
                            <input type="radio" value="3" name="monthlySalary">
                            10000元以上
                        </label>
                    </li>
                    <li class="tit">
                        职业类型
                    </li>
                    <li class="option">
                        <label class="label_false">
                            <input type="radio" value="1" name="workIdentity">
                            公司职员
                        </label>
                        <label class="label_false">
                            <input type="radio" value="2" name="workIdentity">
                            私营业主
                        </label>
                        <label class="label_false">
                            <input type="radio" value="3" name="workIdentity">
                            公务员/事业单位
                        </label>
                    </li>
                    <li class="tit">
                        资产情况
                    </li>
                    <li class="option">
                        <label class="label_false">
                            <input type="radio" value="1" name="property">
                            有车有房
                        </label>
                        <label class="label_false">
                            <input type="radio" value="2" name="property">
                            有车无房
                        </label>
                        <label class="label_false">
                            <input type="radio" value="3" name="property">
                            无车有房
                        </label>
                        <label class="label_false">
                            <input type="radio" value="4" name="property">
                            无车无房
                        </label>
                    </li>
                    <li class="tit">
                        社保公积金缴纳情况
                    </li>
                    <li class="option">
                        <label class="label_false">
                            <input type="radio" value="1" name="welfare">
                            有社保
                        </label>
                        <label class="label_false">
                            <input type="radio" value="2" name="welfare">
                            有公积金
                        </label>
                        <label class="label_false">
                            <input type="radio" value="3" name="welfare">
                            两者都有
                        </label>
                        <label class="label_false">
                            <input type="radio" value="4" name="welfare">
                            两者都无
                        </label>
                    </li>
                    <li class="tit">
                        寿险保单
                    </li>
                    <li class="option">
                        <label class="label_false">
                            <input type="radio" value="3" name="isCommercialInsurance">
                            年缴2400元以上
                        </label>
                        <label class="label_false">
                            <input type="radio" value="2" name="isCommercialInsurance">
                            年缴2400元以下
                        </label>
                        <label class="label_false">
                            <input type="radio" value="1" name="isCommercialInsurance">
                            无
                        </label>
                    </li>
                    <li class="tit">
                        微粒贷
                    </li>
                    <li class="option">
                        <label class="label_false">
                            <input type="radio" value="1" name="particle_loan">
                            有
                        </label>
                        <label class="label_false">
                            <input type="radio" value="2" name="particle_loan">
                            无
                        </label>
                    </li>
                </ul>
                <!-- <div class="ct_2_btn">
                    <input type="submit" name="" value="提交信息">提交信息
                    <button type="submit" name="">提交信息</button>
                </div> -->
                <button type="submit" style="width: 0px;padding: 0;float: left;margin-left: -95%;margin-top: -180%">
                    <div class="ct_2_btn" style="float: left">
                        提交信息
                    </div>
                </button>
            </div>
        </form>
    </div>
    <script src="__PUBLIC__/daikuan/js/lib-f7f4977d09.js"></script>
    <script src="__PUBLIC__/daikuan/js/jquery-popup.js"></script>
    <script src="__PUBLIC__/daikuan/js/app-f5a8060710.js"></script>
    <script src="__PUBLIC__/daikuan/js/indexController-dfaccaf046.js"></script>
</body>
</html>