<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8"UTF-8">
    <title>申请成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="__PUBLIC__/daikuan/css/app-8910ce1ce1.css">
    <link rel="stylesheet" href="__PUBLIC__/daikuan/css/popup.css">
    <!-- <script type="text/javascript" src="__PUBLIC__/daikuan/js/trackEvent.min.js"></script> -->
    <script type="text/javascript">
    </script>
</head>
<body id="loan1020_success">
    <div class="bodyModel">
        <div class="content">
            <p>
                您的贷款申请已提交
            </p>
            我们将选择最合适您的贷款机构,通过率高达<i>90%</i>
        </div>
        <div class="s_tit">
            <span>以下贷款机构可能会联系您</span>
        </div>
        <div class="list">
            <ul>
                <li>
                    <img src="__PUBLIC__/daikuan/images/loan1020/icon_6.jpg">
                </li>
                <li>
                    <img src="__PUBLIC__/daikuan/images/loan1020/icon_7.jpg">
                </li>
                <li>
                    <img src="__PUBLIC__/daikuan/images/loan1020/icon_8.jpg">
                </li>
                <li>
                    <img src="__PUBLIC__/daikuan/images/loan1020/icon_9.jpg">
                </li>
            </ul>
        </div>

        <!--<a href="http://xyk.cmbchina.com/Latte/card/cardList?WT.mc_id=N3700MMA077Q821700UQ">-->
            <!--<img src="../../images/loan0801/icon_11.png" style="width: 90%;margin: 0px auto;">-->
        <!--</a>-->
        <img src="__PUBLIC__/daikuan/images/loan0802/banner.png" style="width: 90%;margin: 0px auto;">
       <!--  <div class="s_tit">
            <span>信用卡办理推荐</span>
        </div>
        <div class="idcard">
                <p style="margin-left: 0;">
                    <img src="__PUBLIC__/daikuan/images/loan1020/zhaoshang.png">
                <span>
                     笔笔消费享好礼
                    <br/>刷卡金, 积分拿不停
                </span>
                </p>

                <p>
                    <img src="__PUBLIC__/daikuan/images/loan1020/icon_11.png">
                <span>
                     免费申请 免年费
                    <br/>额度10000-50000
                </span>
                </p>
        </div>
        <div class="yindao"  style="margin: 0px;padding-bottom: 20px;margin-top: 25px;position: inherit;clear: both">
            关注公众号“百姓有米”,随时随地都能贷
            <br/>还有惊喜好礼~
            <input type="button" value="+关注" style="background: #ff6233">
        </div> -->
    </div>
    <script src="__PUBLIC__/daikuan/js/lib-f7f4977d09.js"></script>
    <script src="__PUBLIC__/daikuan/js/jquery-popup.js"></script>
    <script src="__PUBLIC__/daikuan/js/app-e57932ddf1.js"></script>
    <!-- <script src="__PUBLIC__/daikuan/js/controller/loan/loan1113/successController-2287368aaa.js"></script> -->
</body>
</html>