@charset "utf-8";
@import "common.css"/*tpa=http://kyzp.dsh178.com/style/css/common.css*/;

/*
 * @QQ：497146
 * @author：叶超
 * @e-mail: 497146@qq.com
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	/* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	/* Fix for webkit minFont size */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* Remove highlight on tap event*/
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 0.12rem;
	font-family: PingFangSC-Light,helvetica,'Heiti SC';
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

em,
i {
	font-style: normal;
}

.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.fl {
	float: left
}

.fr {
	float: right;
}

.pngfix {}

input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
	border: none;
	padding: 0;
}

body {
	/*background: #76549b;
	background-size: 3.75rem 6.67rem;*/
	background-size: cover;
}

.dzp {
	background: #7c626a;
}

.zadan {
	max-width: 3.75rem;
	margin: auto;
	overflow: hidden;	
}
.zadan_a {position: relative;}
.zadan_aa {height: 1.8rem;}
.zadan_aa img {width:3.75rem;height:1.8rem ;}
.zadan_ab {width:0.6rem;height:0.25rem ;display: block;background-image:url("../../../img.lerencx.cn/activity/style/img/ruler_04@2x.png")/*tpa=http://img.lerencx.cn/activity/style/img/ruler_04@2x.png*/ ;background-repeat:no-repeat ;background-size:100% ;position: absolute;z-index: 2;top:0.25rem;left:0.15rem;}
.zadan_ac {width:0.54rem;height: 0.54rem;display: block;background-image:url("../../../img.lerencx.cn/activity/style/img/record@2x.png")/*tpa=http://img.lerencx.cn/activity/style/img/record@2x.png*/ ;background-repeat:no-repeat ;background-size:100% ;position: absolute;top: 0;right: 0;}
.zadan_b {height:0.25rem;line-height: 0.25rem;text-align: center ;color: #FFF;}
.zadan_c {background-repeat:no-repeat ;background-size:100% ;}
.zadan_ca ul {padding-left:0.075rem ;}
.zadan_ca ul li {float: left;padding: 0px 0.15rem;height:1.2rem ;position: relative;    width: 0.9rem;}
.zadan_ca ul li span {width:0.42rem;height: 0.42rem ;display: block;background-image:url("../../../img.lerencx.cn/activity/style/img/btn@2x.png")/*tpa=http://img.lerencx.cn/activity/style/img/btn@2x.png*/ ;background-repeat:no-repeat;background-size:100% ;z-index: 3;position: absolute;right: 0;top:0.25rem;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);/* IE 9 */
	-webkit-transform: rotate(0deg);/* Safari and Chrome */
	-o-transform: rotate(0deg);/* Opera */
	-moz-transform: rotate(0deg);/* Firefox */
	transform-origin:right bottom;
	-moz-transform-origin:right bottom;/* Firefox: */
	-webkit-transform-origin:right bottom;/* Safari and Chrome: */
	-o-transform-origin:right bottom;/* Opera: */
	
	animation:myfirst 0.2s linear 0s  infinite alternate;
	-moz-animation:myfirst 0.2s linear 0s infinite alternate;/* Firefox: */
	-webkit-animation:myfirst 0.2s linear 0s infinite alternate;/* Safari and Chrome: */
	-o-animation:myfirst 0.2s linear 0s  infinite alternate;	/* Opera: */
	
	display: none;
}
.zadan_ca ul li span.dd {display: block;}
.zadan_ca ul li a {width: 0.9rem;height: 0.9rem;display: block;background-image:url("../img/egg.png")/*tpa=http://kyzp.dsh178.com/style/img/egg.png*/ ;background-repeat:no-repeat ;background-size:100% ;position: absolute;bottom: 0;}
.h100 {height:0.5rem ;}
.zadan_ca ul li.dd a {background-image:url("../img/egg_02.png")/*tpa=http://kyzp.dsh178.com/style/img/egg_02.png*/ ;}
.zadan_cb {background:#f14344 ;height: 0.975rem;position: relative;width:3.75rem;}
.zadan_cb dd {position: absolute;width:0.5rem;height: 0.5rem ;background-image:url("../../../img.lerencx.cn/activity/style/img/prize-tag-_02.png")/*tpa=http://img.lerencx.cn/activity/style/img/prize-tag-_02.png*/ ;background-repeat:no-repeat ;background-size:100% ;z-index: 2;top: 0;left: 0;}
.zadan_cb ul {padding-top: 0.09rem;padding-left:0.3rem ;margin: 0rem;}
.zadan_cb ul li {float: left;background: #FFF;padding: 0.075rem;margin: 0px 0.01rem;}
.zadan_cb ul li img {width:0.625rem;height: 0.625rem ;}

.zadan_ca ul li.on a {top:0.2rem;}


@-webkit-keyframes myfirst
{
from    { -webkit-transform: rotate(0deg);}
to     {-webkit-transform: rotate(40deg);}
}
