<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=UTF-8 "UTF-8">
    <title>申请成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="__PUBLIC__/act/css/app-19bfdde0d9.css">
    <link rel="stylesheet" href="__PUBLIC__/act/css/popup.css">
    <!-- <script type="text/javascript" src="__PUBLIC__/daikuan/js/trackEvent.min.js"></script> -->
    <script type="text/javascript">
    </script>
</head>

<body id="bxm0803_success">
    <div class="bodyModel">
        <if condition="$type == huaxia">
            <div class="tab" id="success" style="display:block">
                <img src="https://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/bxm0803/success.png">
                <p class="common_text">
                    已成功预约中英人寿畅行天下升级版华夏人寿自由行升级版
                    <span>待审核通过后,华夏人寿专属客服<i>95300</i>将致电为您落实赠险生效事宜</span>
                </p>
                <div class="huaxia" style="display:block">
                    <div>
                        <p>华夏自由行公共交通意外伤害保险</p>
                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        保障责任
                                    </th>
                                    <th>
                                        保障额度
                                    </th>
                                    <th>
                                        保障期限
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        公共汽车/出租车
                                    </td>
                                    <td>
                                        3万
                                    </td>
                                    <td rowspan="3">
                                        3个月
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        地铁/火车/轻轨/轮船
                                    </td>
                                    <td>
                                        5万
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        飞机
                                    </td>
                                    <td>
                                        20万
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <img src="https://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/bxm0725/bck.png" class="bck">
                </div>
            </div>
        </if>
        <if condition="$type == zhongying">
            <div class="tab" id="success" style="display:block">
                <img src="https://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/bxm0803/success.png">
                <p class="common_text">
                    已成功预约中英人寿畅行天下升级版
                    <span>待审核通过后,中英人寿专属客服<i>95545</i>将致电为您落实赠险生效事宜</span>
                </p>
                <div class="huaxia" style="display:block">
                    <div>
                        <p>中英人寿公共交通意外伤害保险</p>
                        <table>
                            <tbody>
                                <!-- <tr>
                            <td colspan="3">
                                <p>适用年龄: 25-50周岁<span>保障期限: 90天</span></p>
                            </td>
                        </tr> -->
                                <tr>
                                    <th>保障名称</th>
                                    <th>保障责任</th>
                                    <th>最高保额</th>
                                </tr>
                                <tr>
                                    <td rowspan="4">交通意外伤害保险</td>
                                    <td>乘飞机意外保障</td>
                                    <td>20万</td>
                                </tr>
                                <tr>
                                    <td>乘轨道交通意外保障</td>
                                    <td>20万</td>
                                </tr>
                                <tr>
                                    <td>乘坐商业运营汽车意外保障</td>
                                    <td>20万</td>
                                </tr>
                                <tr>
                                    <td>乘坐非营运汽车意外保障</td>
                                    <td>20万</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <img src="https://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/bxm0725/bck.png" class="bck">
                </div>
            </div>
        </if>
        <if condition="$type == daduhui">
            <div class="tab" id="success" style="display:block">
                <img src="https://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/bxm0803/success.png">
                <p class="common_text">
                    已成功预约大都会畅行天下升级版
                    <span>待审核通过后,大都会专属客服<i>95308</i>将致电为您落实赠险生效事宜</span>
                </p>
                <div class="huaxia" style="display:block">
                    <div>
                        <p>大都会保险交通综合意外保险产品计划</p>
                        <table>
                            <tbody>
                                <tr>
                                    <!-- <td colspan="3">
                                <p>适用年龄: 25-50周岁<span>保障期限: 30天</span></p>
                            </td> -->
                                </tr>
                                <tr>
                                    <th>保障名称</th>
                                    <th>保障责任</th>
                                    <th>最高保额</th>
                                </tr>
                                <tr>
                                    <td rowspan="3">交通综合意外保险产品计划</td>
                                    <td>水陆公共交通意外身故+意外伤残</td>
                                    <td>10万元+1万元</td>
                                </tr>
                                <tr>
                                    <td>航空意外身故+意外伤残</td>
                                    <td>100万元+10万元</td>
                                </tr>
                                <tr>
                                    <td>自驾（驾驶+乘坐）意外身故+意外伤残</td>
                                    <td>10万元+1万元</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <img src="https://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/bxm0725/bck.png" class="bck">
                </div>
            </div>
        </if>
        <if condition="$type == taiping">
            <div class="tab" id="success" style="display:block">
                <img src="https://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/bxm0803/success.png">
                <p class="common_text">
                    已成功预约太平人寿畅行天下升级版
                    <span>待审核通过后,太平人寿专属客服<i>95589</i>将致电为您落实赠险生效事宜</span>
                </p>
                <div class="huaxia" style="display:block">
                    <div>
                        <p>太平无忧意外伤害保险</p>
                        <table>
                            <tbody>
                                <tr>
                                    <!-- <td colspan="3">
                                        <p>适用年龄: 22-48周岁<span>保障期限: 90天</span></p>
                                    </td> -->
                                </tr>
                                <tr>
                                    <th>保障名称</th>
                                    <th>保障责任</th>
                                    <th>最高保额</th>
                                </tr>
                                <tr>
                                    <td rowspan="3">太平无忧意外伤害保险</td>
                                    <td>客运机动车意外保障</td>
                                    <td>1万元</td>
                                </tr>
                                <tr>
                                    <td>客运列车或客运轮船意外保障</td>
                                    <td>1万元</td>
                                </tr>
                                <tr>
                                    <td>飞机意外保障</td>
                                    <td>8万元</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <img src="https://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/bxm0725/bck.png" class="bck">
                </div>
            </div>
        </if>
        <if condition="$type == taikang">
            <div class="tab" id="success" style="display:block">
                <img src="https://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/bxm0803/success.png">
                <p class="common_text">
                    已成功预约泰康人寿畅行天下升级版
                    <span>待审核通过后,泰康人寿专属客服<i>95522</i>将致电为您落实赠险生效事宜</span>
                </p>
                <div class="huaxia" style="display:block">
                    <div>
                        <p>泰康人寿乐行无忧</p>
                        <table>
                            <tbody>
                                <tr>
                                   <!--  <td colspan="3">
                                        <p>适用年龄: 25-50周岁<span>保障期限: 90天</span></p>
                                    </td> -->
                                </tr>
                                <tr>
                                    <th>保障名称</th>
                                    <th>保障责任</th>
                                    <th>最高保额</th>
                                </tr>
                                <tr>
                                    <td rowspan="3">乐行无忧</td>
                                    <td>飞机意外保障</td>
                                    <td>20万</td>
                                </tr>
                                <tr>
                                    <td>火车、地铁、轻轨、轮船意外保障</td>
                                    <td>10万</td>
                                </tr>
                                <tr>
                                    <td>市内公共汽/电车、长途公共汽车、旅行社客车、机场公共汽车及出租车意外保障</td>
                                    <td>5万元</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <img src="https://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/bxm0725/bck.png" class="bck">
                </div>
            </div>
        </if>
        <div class="ad" id="adList" style="">
            <!-- <a href=""><img src="__PUBLIC__/act/images/loan0802/ad.png" style="width: 90%;margin: 0px auto;margin-top: -4%"></a> -->
            <a href=""><img src="__PUBLIC__/act/images/loan0802/ad.png" style="margin: 0 auto 15px;width: 90%;"></a>
            <ul>
                <li><a href="javascript:;" onclick="goADUrl('dk-market-jinniu','http://lxbk.jjkswl.com/#/proxyReg?inviteCode=A100021')"><img src="http://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/loan0109/ad_1.png"><p>极速贷款</p></a></li>
                <li><a href="javascript:;" onclick="goADUrl('dk-creditcardzhao','https://xyk.cmbchina.com/card/cardList?WT.mc_id=N3700MM10573796600FN&amp;from=WX')"><img src="http://newtank-production.oss-cn-shanghai.aliyuncs.com/image/loan/zsxyk.png"><p>极速申请招商信用卡</p></a></li>
                <li><a href="javascript:;" onclick="goADUrl('dk-vipkids','https://vipkid-bd.mikecrm.com/pIw3qBY')"><img src="http://newtank-production.oss-cn-shanghai.aliyuncs.com/act/image/loan0109/ad_3.png"><p>vipkids</p></a></li>
            </ul>
        </div>
        <div class="foot companyCopyright">客服热线：400-960-9190 工作时间：工作日9:30至17:30</div>
    </div>
    <script src="__PUBLIC__/daikuan/js/lib-f7f4977d09.js"></script>
    <script src="__PUBLIC__/daikuan/js/jquery-popup.js"></script>
    <script src="__PUBLIC__/daikuan/js/app-e57932ddf1.js"></script>
    <!-- <script src="__PUBLIC__/daikuan/js/controller/loan/loan1113/successController-2287368aaa.js"></script>
</body>

</html>